* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.navbar {
    padding-top: 10px;
}

.navbar, .hero-info, .footer {
background-color: #1F2937;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.top-nav a {
    text-decoration: none;
    color: #E5E7Eb;
    font-size: 18px;
}

.hero-info {
    flex: 1;
}

.hero-info h1 {
    color: #f9faf8;
    font-weight: 800;
    font-size: 48px;
}

.hero-info p {
    color: #E5E7Eb;
    font-size: 18px;
}

.hero-info img {
    max-width: 300px;
    margin-left: 25px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav {
    display: flex;
}

.top-nav li {
    margin-left: 40px;    
}

.hero-info .container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.sign-up {
    padding: 8px 25px;
    background-color: #3882F6;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    border: none;
    margin-top: 5px;
}

.sign-up:hover {
    background-color: #2176fd;
    cursor: pointer;
}

.main {
    flex: 1;
}

.main .container h2 {
    text-align: center;
    margin: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

.card {
    text-align: center;
    max-width: 150px;
    flex: 1;
}

.card img {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.quote {
    background-color: #E5E7Eb;
    flex: 1;
    text-align: center;
    padding: 50px;
}

.quote .container p {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    text-align:left;
    color: #1F2937;
}

.quote .container span {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    margin-left: 500px;
}

.call-to-action {
    flex: 1;
    padding: 100px 0px;
}

.action-call {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #3882F6;
    color:#f9faf8;
    border-radius: 8px;
    padding: 40px;
}

.sign-up-call {
    padding: 8px 25px;
    background-color: #3882F6;
    border-radius: 8px;
    color: #f9faf8;
    font-weight: 600;
    border: 2px solid #f9faf8;
    cursor: pointer;
}

.sign-up-call:hover {
    background-color: #2176fd;
}

.footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .container p {
    color:#f9faf8;
}