* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.navbar {
    padding-top: 10px;
}

.navbar, .hero-info, .footer {
background-color: #1F2937;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.top-nav a {
    text-decoration: none;
    color: #E5E7Eb;
    font-size: 18px;
}

.hero-info {
    flex: 1;
}

.hero-info h1 {
    color: #f9faf8;
    font-weight: 800;
    font-size: 48px;
}

.hero-info p {
    color: #E5E7Eb;
    font-size: 18px;
}

.hero-info img {
    max-width: 300px;
    margin-left: 25px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav {
    display: flex;
}

.top-nav li {
    margin-left: 40px;    
}

.hero-info .container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.sign-up {
    padding: 3px 25px;
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    border: none;
    margin-top: 5px;
}